.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardSingle {
  display: block;
}
.imgSingle {
  width: 220px;
}
.genreList {
  display: flex;
  flex-direction: column;
}
.alignThis {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.getToCenter {
  display: flex;
  justify-content: center;
}
.containerWidth {
  max-width: 1200px;
  padding-top: 80px;
}
.logoSize {
  width: 100px;
}
.theNav {
  position: fixed;
  width: 100%;
  z-index: 1;
}
